<div class="d-flex">

    <div style="width: 50%;">
        <div>
            <h2>Inserisci un immagine</h2>
            <input type="file" (change)="onFileSelected($event)" />
        </div>

        <br>

        <h3>Carica l'immagine</h3>
        <button (click)="uploadImage()">Carica</button>
    </div>

    <div style="width: 50%;">

        <h2>Immagini caricate:</h2>
        <div *ngIf="images.length === 0">Nessuna immagine disponibile.</div>
        <div *ngFor="let img of images, let i = index">

            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    {{ i + 1 }}
                    <div class="ms-2 me-auto d-flex">
                        <div>
                            <img [src]="imgUrlPrefix + img.path" alt="immagine" width="200" />
                        </div>
                        <div class="padding-left-30">
                            <div class="fw-bold">Name: {{ img.name }}</div>
                            <div>Peso: {{ formatFileSize(img.size) }}</div>
                            <div>Estensione: {{ img.extension }}</div>
                        </div>
                    </div>
                    <span class="badge text-bg-primary rounded-pill">
                        {{ img.width }} x {{ img.height}}
                    </span>
                </li>
            </ol>

        </div>
    </div>
</div>