<div class="container justify-content-center">
  <h2>Aggiungi Immagine</h2>

  <form #immagineForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 row">
      <label for="img" class="col-sm-2 col-form-label">URL immagine:</label>
      <div class="col-sm-10">
        <input
          type="text"
          id="img"
          name="img"
          [(ngModel)]="nuovaImmagine.img"
          required
        />
      </div>
    </div>

    <div class="mb-3 row">
      <label for="size" class="col-sm-2 col-form-label"
        >Dimensione (in KB):</label
      >
      <div class="col-sm-10">
        <input
          type="number"
          id="size"
          name="size"
          [(ngModel)]="nuovaImmagine.size"
          required
        />
      </div>
    </div>

    <div class="mb-3 row">
      <label for="tag" class="col-sm-2 col-form-label"
        >Tag (separati da virgola):</label
      >
      <div class="col-sm-10">
        <input type="text" id="tag" name="tag" [(ngModel)]="tagInput" />
      </div>
    </div>

    <button type="submit" [disabled]="!immagineForm.form.valid">
      Salva Immagine
    </button>
  </form>

  <div class="row">
    <div class="col-12">
      <h3>Immagini salvate</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let img of immagini">
      <div class="card" style="width: 18rem">
        <img [src]="img.img" class="card-img-top" alt="prevista immagine" />
        <div class="card-body">
          @if(img.tag.length > 0) {
          <p class="card-text">{{ img.tag }}</p>
          } @else {
          <p class="card-text">Nessun tag</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>
